# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Poetry
.poetry/
poetry.lock

# env
.env

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# misc
.DS_Store

# dbt
dbt/target/

outputs/